@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center">
                Movie Rental
            </h3>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-6">

            <address>
                <strong>Movie rental</strong> <br /> <br /> Dworcowa 15<br /> Gdańsk 80-293 <br /> Phone +48 123 492 734 <br /> wypozyczalnia@gmail.com
            </address>
            <br />
            <br />
           
            <br />
            <br />
            <button type="button" class="btn btn-block btn-lg btn-primary">
                Facebook
            </button>
        </div>
        <div class="col-md-6">
            <img alt="Bootstrap Image Preview" src="https://patch.com/img/cdn20/users/22887410/20180806/021129/styles/raw/public/processed_images/548991d-1533578743-3854.jpg?width=695" class="rounded" />
        </div>
    </div>
</div>