@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>Account Created</h1>
<p>
    <a asp-controller="Films" asp-action="Index"class="btn btn-primary"> Go back to home</a>
</p>